*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    height: 5%;
    top: 0;
    position: relative;
}

header > aside{
    background: #000;
    color: #fff;
    width: 200px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 10%;
}

header > aside >h1{
    font-size: 1.5em;
    margin: 0px;
    padding-top: 15px;
    text-align: center;
}

.top_nav {
    position: relative;
    left: 45%;
    width: max-content;
}

.top_nav > ul {
    font-size: 1em;
    list-style: none;
}

.top_nav > ul > li {
    display: inline-block;
}

.top_nav > ul > li > a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top_nav > ul > li > a:hover {
    background-color: #ddd;
}

main {
    border-top: 5pc;
    height: 50%;
}

.mainNavbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2457;
}

.mainNavbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.anniversary {
    margin-left: 8%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop_btn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.mainNavbar a:hover,
.dropdown:hover .drop_btn {
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.column {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #eeeeee;
    height: max-content;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


/*@media screen and (max-width: 600px) {*/
/*    .column {*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/
/*}*/


.mySlides {
    display: none
}

.mySlides > img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*@media only screen and (max-width: 300px) {*/
/*    .prev, .next, .text {*/
/*        font-size: 11px*/
/*    }*/
/*}*/



.aboutUs{
    margin: 3.84%;
}

.imageHolder{

}

.aboutUs .imageHolder img{
    height: 275px;
    margin-left: 25%;
    margin-top: 7%;
    border: 1px solid black;
}

.aboutUsContent{
    height: 50%;
}

.aboutUsContent p {
    width: 70%;
    margin-top: 6%;
}

.aboutUs.column{
    width: 50%;
    background-color: white;
}

.txtmessage{
    height: 50px;
}

.contactUs .column{
    width: auto;
    background-color: white;
}

.messageArea{
    margin-left: 20%;
    margin-top: 5%;
}

.contactUs .contactDetails{
    width: 50%;
    background-color: white;
}

.contactDetails .column{
    width: 33.33%;
    background-color: white;
}

.contactDetails img{
    width: 25px;
    height: 25px;
}

.contactDetails label {
    vertical-align: super;
    margin-left: 10%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.mapouter iframe {
    border:0;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: #2b2457;
    color: white;
}


#customerCare > img {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    position: relative;
    left: 10%;
    top: 38px;
}

#customerCare > p {
    left: 214px;
    position: fixed;
}

#email > img {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    position: relative;
    left: 35%;
    top: 10px;
}

#email > p {
    left: 650px;
    position: fixed;
    display: inline-block;
}

.btn{
    width: 100px;
    height: 25px;
}
